.formcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 55%;
  min-width: 40%;
}
.contactcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 60vh;
  gap: 3rem;
}
.sendbutton {
  background-color: rgb(142, 56, 222);
  border: none;
  color: white;
  font-weight: 500;
  padding: 9px 18px;
  border-radius: 4px;
}
.input {
  height: 40px;
}
.contacttag {
  text-align: center;
}

.touchs {
  display: flex;
  justify-content: space-between;
}
.anchor {
  margin-right: 10px;
}
@media screen and (min-width: 468px) {
  .touchs {
    width: 40%;
  }
}
